In [2]:
#Barbara Costa  - RA: 2301298
#Guilherme Rosa - RA: 2302511

In [3]:
import pandas as pd
from selenium import webdriver
from selenium.webdriver.common.by import By

In [4]:
navegador = webdriver.Chrome()

In [5]:
navegador.get('https://pt.wikipedia.org/wiki/Lista_de_pa%C3%ADses_por_PIB_nominal')

In [6]:
pais = navegador.find_element(By.XPATH, '//*[@id="mw-content-text"]/div[1]/table[3]/tbody/tr[1]/td[1]/a').text
regiao = navegador.find_element(By.XPATH, '//*[@id="mw-content-text"]/div[1]/table[3]/tbody/tr[1]/td[2]/a').text
fmi_estimativa = navegador.find_element(By.XPATH, '//*[@id="mw-content-text"]/div[1]/table[3]/tbody/tr[1]/td[3]').text
fmi_ano = navegador.find_element(By.XPATH, '//*[@id="mw-content-text"]/div[1]/table[3]/tbody/tr[1]/td[4]').text
bm_estimativa = navegador.find_element(By.XPATH, '//*[@id="mw-content-text"]/div[1]/table[3]/tbody/tr[1]/td[5]').text

In [7]:
print(pais,regiao,fmi_estimativa,fmi_ano,bm_estimativa)

Estados Unidos América 25,440.000 2022 23,320,000

In [8]:
lista_vazia_pais = []
for i in range (1,101):
    pais = navegador.find_element(By.XPATH, '//*[@id="mw-content-text"]/div[1]/table[3]/tbody/tr['+str(i)+']/td[1]/a').text
    lista_vazia_pais.append(pais)

In [9]:
df = pd.DataFrame(lista_vazia_pais, columns=['pais'])

In [10]:
lista_vazia_pais = []
for i in range (1,101):
    pais = navegador.find_element(By.XPATH, '//*[@id="mw-content-text"]/div[1]/table[3]/tbody/tr['+str(i)+']/td[1]/a').text
    lista_vazia_pais.append(pais)
df['pais'] = lista_vazia_pais
df

              pais
0   Estados Unidos
1            China
2            Japão
3         Alemanha
4            Índia
..             ...
95         Bolívia
96           Sudão
97        Paraguai
98           Líbia
99         Letónia

[100 rows x 1 columns]

In [11]:
lista_vazia_regiao = []
for i in range (1,101):
    regiao = navegador.find_element(By.XPATH, '//*[@id="mw-content-text"]/div[1]/table[3]/tbody/tr['+str(i)+']/td[2]/a').text
    lista_vazia_regiao.append(regiao)
df['regiao'] = lista_vazia_regiao
df

              pais   regiao
0   Estados Unidos  América
1            China     Ásia
2            Japão     Ásia
3         Alemanha   Europa
4            Índia     Ásia
..             ...      ...
95         Bolívia  América
96           Sudão   Africa
97        Paraguai  América
98           Líbia   Africa
99         Letónia   Europa

[100 rows x 2 columns]

In [12]:
lista_vazia_fmi_estimativa = []
for i in range (1,101):
    fmi_estimativa = navegador.find_element(By.XPATH, '//*[@id="mw-content-text"]/div[1]/table[3]/tbody/tr['+str(i)+']/td[3]').text
    lista_vazia_fmi_estimativa.append(fmi_estimativa)
df['fmi_estimativa'] = lista_vazia_fmi_estimativa
df

              pais   regiao fmi_estimativa
0   Estados Unidos  América     25,440.000
1            China     Ásia     17,960,000
2            Japão     Ásia      4,260,000
3         Alemanha   Europa      4,080,000
4            Índia     Ásia      3,440,000
..             ...      ...            ...
95         Bolívia  América      0,043,431
96           Sudão   Africa      0,042,762
97        Paraguai  América      0,041,855
98           Líbia   Africa      0,040,836
99         Letónia   Europa      0,040,588

[100 rows x 3 columns]

In [13]:
lista_vazia_fmi_ano = []
for i in range (1,101):
    fmi_ano = navegador.find_element(By.XPATH, '//*[@id="mw-content-text"]/div[1]/table[3]/tbody/tr['+str(i)+']/td[4]').text
    lista_vazia_fmi_ano.append(fmi_ano)
df['fmi_ano'] = lista_vazia_fmi_ano
df

              pais   regiao fmi_estimativa    fmi_ano
0   Estados Unidos  América     25,440.000       2022
1            China     Ásia     17,960,000  [n 1]2022
2            Japão     Ásia      4,260,000       2022
3         Alemanha   Europa      4,080,000       2022
4            Índia     Ásia      3,440,000       2022
..             ...      ...            ...        ...
95         Bolívia  América      0,043,431       2022
96           Sudão   Africa      0,042,762       2022
97        Paraguai  América      0,041,855       2022
98           Líbia   Africa      0,040,836       2022
99         Letónia   Europa      0,040,588       2022

[100 rows x 4 columns]

In [14]:
lista_vazia_bm_estimativa = []
for i in range (1,101):
    bm_estimativa = navegador.find_element(By.XPATH, '//*[@id="mw-content-text"]/div[1]/table[3]/tbody/tr['+str(i)+']/td[5]').text
    lista_vazia_bm_estimativa.append(bm_estimativa)
df['bm_estimativa'] = lista_vazia_bm_estimativa
df

              pais   regiao fmi_estimativa    fmi_ano bm_estimativa
0   Estados Unidos  América     25,440.000       2022    23,320,000
1            China     Ásia     17,960,000  [n 1]2022    17,820,000
2            Japão     Ásia      4,260,000       2022     5,030,000
3         Alemanha   Europa      4,080,000       2022     4,280,000
4            Índia     Ásia      3,440,000       2022     3,150,000
..             ...      ...            ...        ...           ...
95         Bolívia  América      0,043,431       2022     0,040,408
96           Sudão   Africa      0,042,762       2022     0,034,326
97        Paraguai  América      0,041,855       2022     0,038,987
98           Líbia   Africa      0,040,836       2022     0,041,880
99         Letónia   Europa      0,040,588       2022     0,038,873

[100 rows x 5 columns]

In [15]:
df.to_csv('../0_bases_originais/dados_originais.csv', sep=';', index=False, encoding='UTF-8')

In [16]:
df.to_json('../0_bases_originais/dados_originais.json')

In [19]:
%pip install sqlalchemy==2.0.19

Requirement already satisfied: sqlalchemy==2.0.19 in c:\users\guilherme\appdata\local\programs\python\python311\lib\site-packages (2.0.19)Note: you may need to restart the kernel to use updated packages.

Requirement already satisfied: typing-extensions>=4.2.0 in c:\users\guilherme\appdata\roaming\python\python311\site-packages (from sqlalchemy==2.0.19) (4.10.0)
Requirement already satisfied: greenlet!=0.4.17 in c:\users\guilherme\appdata\local\programs\python\python311\lib\site-packages (from sqlalchemy==2.0.19) (3.0.3)